.search {}

h1 {
    text-indent: 350px;
  }


.container {
    display: flex;
}

.mapid {
    float: left;

    width: 80%;
    height: 580px;
}

.right {
    display: flex;
    flex-direction: column;
}
.right-top {
    float: right;
    max-height: 40%;
    padding-left: 10px;

}
.right-bottom {

    padding-left: 10px;

}

.cards-top {
    max-width: 1200px;
    max-height: 40%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 10px;
    overflow-y:scroll;
}

.card-top {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    height: 2rem;

}

.cards-bottom {
    max-width: 1200px;
    max-height: 40%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    overflow-y:scroll;
    
}

.card-bottom {
    background-color: rgb(255, 30, 206);
    color: white;
    padding: 10px;
    height: 2rem;

}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}