::-webkit-scrollbar { padding: 10px; width: 6px; height: 4px; background: #e6e4e4; }
::-webkit-scrollbar-thumb { background-color: #000000a9; -webkit-border-radius: 1ex; }
  

.container {
    display: flex;
}

.mapid {
    float: left;

    width: 80%;
    height: 580px;
}

.right {
    display: flex;
    flex-direction: column;
}

.right-top {
    float: right;
    max-height: 50%;
    padding-left: 10px;

}
.right-bottom {
    max-height: 50%;
    padding-left: 10px;

}

.cards-top {
    max-width: 1200px;
    max-height: 60%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 10px;
    overflow-y:scroll;
    padding-right: 5px;
}

.card-top {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    height: 2rem;

}

.cards-bottom {
    max-width: 1200px;
    max-height: 60%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    overflow-y:scroll;
    padding-right: 5px;
    
}

.card-bottom {
    background-color: rgb(255, 30, 206);
    color: white;
    padding: 10px;
    height: 2rem;

}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}